/* BASIC */


.fade{
    backdrop-filter: blur(5px);
}
.black-wrap{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
    left: 0px;
}
.black-wrap.video-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 11;
}

.video-wrap {
    display: flex;
    align-items: center;
}

.btn-play{
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 100%;
    border:1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*admin bar*/
@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}
#wpadminbar {
    background: var(--primary, #555);
    box-shadow: 0px 0px 10px #555;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar > .ab-empty-item img,
#wpadminbar #wp-admin-bar-my-account.with-avatar > a img {
    border-radius: 100%;
    border: 2px solid #fff;
}
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
    background-color: var(--primary, #555);
    color: #fff;
    opacity: 0.8;
}
#wpadminbar .ab-sub-wrapper,
#wpadminbar ul,
#wpadminbar ul li {
    background-color: var(--primary, #555);
    color: #fff;
}
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop ul li a strong,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
    color: #fff;
}
#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:hover {
    color: #fff;
    text-decoration: underline;
    opacity: 0.8;
}
#wp-admin-bar-site-name #wp-admin-bar-site-name-default,
#wp-admin-bar-site-name #wp-admin-bar-appearance,
#wp-admin-bar-themes,
#wp-admin-bar-widgets,
#wp-admin-bar-customize-divi-theme {
    display: none !important;
}
#wp-admin-bar-themes a.ab-item,
#wp-admin-bar-widgets a.ab-item,
#wp-admin-bar-customize-divi-theme a.ab-item {
    pointer-events: none !important;
}
#wpadminbar #adminbarsearch:before,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before {
    color: #fff;
}
#wpadminbar #wp-admin-bar-site-name > .ab-item:before {
    content: "\f474" !important;
}
#wpadminbar #wp-admin-bar-edit > .ab-item:before {
    content: "\f186" !important;
}
#wpadminbar #wp-admin-bar-sitetool > .ab-item:before {
    content: "\f198" !important;
    top: 1px;
}
#wp-admin-bar-et-use-visual-builder a:before {
    height: 25px;
    color: #fff !important;
}
#wp-admin-bar-et-use-visual-builder:hover a,
#wp-admin-bar-et-use-visual-builder a:hover {
    background-color: unset !important;
}

/*font awesome*/
/*
.fa,.fab,.fad,.fal,.far,.fas{
    font-family: "Font Awesome 5 pro" !important;
}
*/
/*CHATBUTTON*/
.yc_chatbutton_no_fb {
    position: fixed;
    bottom: 17px;
    right: 24px;
    z-index: 214748364;
    overflow: hidden;
}
.yc_chatbutton {
    position: fixed;
    bottom: 22px;
    right: 84px;
    z-index: 214748364;
    overflow: hidden;
}
.chatbutton_content {
    display: flex;
    align-items: center;
    position: relative;
    left: calc(100% - 75px);
}
.yc_chatbutton a,
.yc_chatbutton i,
.yc_chatbutton_no_fb a,
.yc_chatbutton_no_fb i {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover;
    margin-right: 15px;
    font-size: 36px;
    text-align: center;
    line-height: 60px;
    border-radius: 100%;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
.chatbutton_content.expand .fa-arrow-from-right,
.chatbutton_content:not(.expand) .fa-arrow-from-left,
.chatbutton_content.expand .fa-reply-all,
.chatbutton_content:not(.expand) .fa-share-all {
    display: none;
}
.chatbutton_content:not(.expand) .fa-arrow-from-right,
.chatbutton_content.expand .fa-arrow-from-left,
.chatbutton_content:not(.expand) .fa-reply-all,
.chatbutton_content.expand .fa-share-all {
    display: inline-block;
}
.yc_chatbutton_line {
    background: url("../img/line.png");
}
.yc_chatbutton_tg {
    background: url("../img/tg.png");
}
.yc_chatbutton_ig {
    background: url("../img/ig.png");
}
.yc_chatbutton_whatsapp {
    background: url("../img/whatsapp.png");
}
.yc_chatbutton_email {
    background: url("../img/mail.png");
}
.yc_chatbutton_phone {
    background: url("../img/phone.png");
}
/*
.chatbutton_content_inner{

}

.chatbutton_content_inner_scroll{
    min-width: 460px;
}*/

/*My account沒有訂單時會歪掉*/
.woocommerce-message--info {
    line-height: 36px;
}
.woocommerce-MyAccount-content {
    margin-bottom: 50px;
}

/*隱藏webpush 前端icon*/
#webpushr-prompt-wrapper {
    display: none !important;
}

/*SOCIAL ICON*/
.social-icon-font-awsome i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    margin-right: 10px;
}
.social-icon-brand-color i {
    color: #fff;
}
.social-icon-brand-color .fa-youtube {
    background: #f00;
}
.social-icon-brand-color .fa-facebook-f {
    background: #15a2fa;
}
.social-icon-brand-color .fa-instagram {
    background: linear-gradient(45deg, #f3b664, #a02ba6);
}
.social-icon-brand-color .fa-google {
    background: #000;
}
.social-icon-brand-color .fa-line {
    background: #07b53b;
}

/*滾動條*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: #e1e1e1;
}
::selection {
    background-color: #bbd6fb;
    color: #fff;
}

/*結帳頁 綠界欄位*/
select#billing_carruer_type,
select#billing_invoice_type,
select#shipping_option,
select[name="ecpay_choose_payment"] {
    margin-left: 0px;
    width: 100%;
    padding: 0px 15px;
    height: 51px;
    border-radius: 5px;
}

/*結帳頁 按鈕 woocommerce*/


.checkout_coupon .form-row-last {
    float: left !important;
}
button#place_order {
    width: 100%;
}
.fusion-body .fusion-woo-cart-1 .fusion-button-wrapper .button {
    white-space: nowrap;
}
form.checkout #billing_first_name_field,
form.checkout #shipping_first_name_field {
    float: unset;
    width: unset;
}

.woocommerce-shipping-methods li {
    white-space: nowrap;
    float: right;
    width: 100%;
}
.checkout .payment_methods li {
    margin-bottom: 0px !important;
}
p.woocommerce-shipping-destination {
    /*clear: both;
    white-space: nowrap;
    float: right;*/
    display: none;
}
#order_comments {
    min-height: 160px;
}

/*product loop*/
.woocommerce ul.products li.product{
    overflow-x: hidden;
}

/*#billing_country_field,*/
.woocommerce-shipping-fields {
    display: none;
}
.cart_totals table th {
    padding-bottom: unset;
}
tr.order-total td,
tr.order-total th,
tr.cart-subtotal td,
tr.cart-subtotal th,
tr.woocommerce-shipping-totals th,
tr.woocommerce-shipping-totals td {
    padding: 15px !important;
}
body.fusion-button_size-large .fusion-button-default-size,
body.fusion-button_size-large button.button {
    width: 49.2%;
}
.woocommerce-error {
    text-align: center;
    padding: 60px 0px;
}
.fusion-woo-checkout-payment-tb .woocommerce-checkout-payment ul.wc_payment_methods li {
    position: relative;
}
.fusion-woo-checkout-payment-tb .woocommerce-checkout-payment ul.wc_payment_methods li > input {
    position: absolute;
    top: 2em;
    left: 20px;
}
.woocommerce form.checkout #billing_first_name_field,
form.checkout #shipping_first_name_field {
    width: 100%;
    float: unset;
}
.woocommerce-checkout-payment{
    order:3;
    margin-top: 50px;
    width: 100%;
}
.woo-sale-badge-circle .onsale {
    display: none !important;
}

.woocommerce ul.order_details li {
    line-height: 3em;
}
.woocommerce-column {
    float: none !important;
    width: 100% !important;
    margin-bottom: 30px !important;
}
/*
.woocommerce-checkout .woocommerce-order h2,
.woocommerce-checkout h3 {
    font-size: 18px;
    font-weight: 900;
    border-bottom: 2px solid #ddd;
    margin-bottom: 30px !important;
    padding-bottom: 30px;
    width: 100%;
}
*/
#billing_country_field,
.woocommerce-checkout .woocommerce-additional-fields > h3 {
    display: none;
}
/*
.woocommerce-checkout .woocommerce-order h2::before,
.woocommerce-checkout .woocommerce-billing-fields > h3::before,
.woocommerce-checkout h3#order_review_heading::before,
.woocommerce-checkout h3.yc_billing_detail_heading::before{
    content: "!";
    font-size: 12px;
    font-weight: 900;
    margin-right: 8px;
    width: 18px;
    height: 18px;
    background-color: var(--mdb-primary, #0c5cef);
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    line-height: 18px;
    position: relative;
    top: -2px;
    color: #fff;
}
*/
body.woocommerce-cart table.cart td.actions .coupon .input-text {
    padding: 8px 16px !important;
}
body.woocommerce-cart table.cart td.actions .coupon .input-text,
body.woocommerce-cart .quantity input.qty {
    font-size: 16px !important;
    height: auto !important;
    padding: 8px 16px !important;
}

li.product p,
li.product .short-desic {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.yc_oneshop a.added_to_cart.wc-forward {
    display: none !important;
}

/*iti*/
.iti.iti--allow-dropdown{
    width: 100%;
}

/*woocommerce login form*/

.yc-login-popup{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: none;
}
.yc-login-popup .yc_login_form{
    box-shadow:none
}
.yc_login_form_wrap {
    display: flex;
    justify-content: center;
}
.yc_login_form {
    margin: 30px 0px;
    width: 500px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 0px 30px #ccc;
    padding: 3rem;
}
.woocommerce .yc_login_form .woocommerce-form-login .woocommerce-form-login__submit{
    width: 100%;
}

.woocommerce .yc_login_form form.login {
    border: none !important;
}
.yc_login_form input.text,
.yc_login_form input.title,
.yc_login_form input[type="email"],
.yc_login_form input[type="password"],
.yc_login_form input[type="tel"],
.yc_login_form input[type="text"],
.yc_login_form input[type="date"],
.yc_login_form select,
.yc_login_form textarea {
    border: unset;
    border-bottom: 1px solid #bbb;
    width:100%;
}
.yc_login_form select{
    height: 2.5rem;
}
.yc_login_form input[type="radio"]{
    width: auto;
    display: inline-block;
}
.yc_login_form input.text:focus,
.yc_login_form input.title:focus,
.yc_login_form input[type="email"]:focus,
.yc_login_form input[type="password"]:focus,
.yc_login_form input[type="tel"]:focus,
.yc_login_form input[type="text"]:focus,
.yc_login_form input[type="date"]:focus,
.yc_login_form select:focus,
.yc_login_form textarea:focus {
    border-bottom: 1px solid #2d3940;
}


.yc_login_form form.login p {
    position: relative;
}
.yc_login_form form.login p i {
    font-size: 1rem;
    color: #666;
    position: absolute;
    top: 47px;
    left: 5px;
    z-index: 1;
}
.woocommerce .yc_login_form form .form-row input.input-text {
    padding: 15px 15px 15px 30px;
}
.yc_login_form .lost_password {
    display: flex;
    justify-content: space-between;
}
.woocommerce .yc_login_form .woocommerce-form-login .woocommerce-form-login__rememberme {
    display: none;
}

.woocommerce .yc_login_form form .form-row.woocommerce-loginsubmit {
    margin-bottom: 40px;
}
.yc_login_form .woocommerce-register {
    text-align: center;
}


/*Register*/
h1.entry-title.main_title {
    display: none;
}
form.woocommerce-form-register {
    margin: 50px 0px;
}
form.woocommerce-form-register label,
form.woocommerce-form-register input {
    display: block;
    width: 100%;
    font-size: 1rem;
}
form.woocommerce-form-register input {
    line-height: 2.5em;
    padding: 0px 0.5rem;
}

form.woocommerce-form-register .register_title {
    padding: 0.5rem 1rem;
    background-color: inherit;
    position: relative;
    z-index: 2;
    letter-spacing: 2px;
    font-weight: 900;
    text-align: center;
}
form.woocommerce-form-register .register_title::before,
form.woocommerce-form-register .register_title::after {
    content: "";
    width: calc(50% - 100px);
    height: 1px;
    position: absolute;
    background-color: #999;
    font-size: inherit;
    top: 50%;
    z-index: 1;
}
form.woocommerce-form-register .register_title::before {
    left: 0px;
}
form.woocommerce-form-register .register_title::after {
    right: 0px;
}
form.woocommerce-form-register .woocommerce-form-register__submit {
    margin-top: 15px;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    letter-spacing: 2px;
    border: 0px;
    background-color: var(--wc-primary, #2ea2cc);
    cursor: pointer;
    color: #fff;
}
form.woocommerce-form-register .woocommerce-form-register__submit:hover {
    background-color: var(--wc-primary-hover, #4bb7df);
}
.woocommerce-error {
    background-color: var(--wc-red, #ffa4a4);
}

/*my account*/
.yc-MyAccount-navigation ul {
    list-style: none !important;
    padding: 0px 30px 0px 0px !important;
}
.yc-MyAccount-navigation ul li {
    font-size: 16px;
    line-height: 1.5em;
    border-bottom: 1px solid #bbb;
    padding: 1rem 1rem;
}
.yc-MyAccount-navigation ul li.is-active {
    background-color: #eee;
}
#content-area table th {
    font-size: 14px;
}
.woocommerce-orders-table__cell-order-actions .woocommerce-button{
    margin-right: 10px;
}

@media (min-width: 992px) {
    #customer_login {
        max-width: 600px;
        position: relative;
        left: 50%;
        margin-left: -300px;
    }
}

/*social login*/
.the_champ_login_container ul.the_champ_login_ul li {
    position: relative;
}
.the_champ_login_container ul.the_champ_login_ul li,
.the_champ_login_container ul.the_champ_login_ul li > i.theChampLogin {
    width: 100% !important;
}
.the_champ_login_container ul.the_champ_login_ul li > i.theChampLogin {
    height: 43px;
    border-radius: 6px;
    margin-bottom: 20px !important;
}
i.theChampLogin div.theChampFacebookLogoContainer {
    width: 0px;
    height: 0px;
    background-color: transparent;
}
.theChampFacebookLoginSvg {
    width: 24px;
    height: 24px;
    left: 50%;
    position: relative;
    margin-left: -60px;
    background-color: white;
    border-radius: 100%;
    padding-top: 0px;
    top: 2px;
}
i.theChampLogin .theChampGoogleLoginSvg,
i.theChampLogin .theChampLineLoginSvg {
    width: 34px;
    height: 34px;
    left: 50%;
    position: relative;
    margin-left: -67px;
    top: 2px;
}
.theChampFacebookLogoContainer::after,
.theChampGoogleLogin::after,
.theChampLineLogin::after {
    position: absolute;
    color: #fff;
    top: 9px;
    left: calc(50% - 20px);
    text-decoration: unset;
    font-style: normal;
}
.theChampFacebookLogoContainer::after {
    content: "用 FACEBOOK 登入";
}
.theChampGoogleLogin::after {
    content: "用 GOOGLE 登入";
    color: #555 !important;
}
.theChampLineLogin::after {
    content: "用 LINE 登入";
}
.the_champ_social_login_title,
#customer_login h2,
.yc_login_form h2 {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    font-size: 1.5rem;
    padding-bottom: 0px;
    border: none;
    font-weight: 700;
    color: #666;
}
.the_champ_social_login_title::after,
#customer_login h2::after,
.yc_login_form h2::after {
    content: "";
    /*background-color: #e0dede;*/
    background: linear-gradient(
        90deg,
        #e0dede calc(50% - 100px),
        transparent calc(50% - 99px),
        transparent calc(50% + 99px),
        #e0dede calc(50% + 100px),
        #e0dede 100%
    );
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 48%;
}


/*slick*/
button.slick-prev:before{
    content: "\f053";
    font-weight: 300;
    font-family: "Font Awesome 5 Pro";
    color: #bbb;
}
button.slick-next:before{
    content: "\f054";
    font-weight: 300;
    font-family: "Font Awesome 5 Pro";
    color: #bbb;
}
/*ycwc woocommerce*/
.ycwc_tab_nav{
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.ycwc_tab_nav a{
    line-height: 4em;
    background-color: #eee;
    color: #333;
    width: 100%;
    text-align: center;
    margin: 0px 15px;
    border-radius: 10px;
}
.ycwc_tab_nav a:first-child{
    margin-left: 0px;
}
.ycwc_tab_nav a:last-child{
    margin-right: 0px;
}
/**/
#wpsc_status_widget{
    margin-top: 47px;
}

/* WCMP */
.wcmp-wrapper .navbar-default.sidebar.side-collapse {
    width: 284px !important;
}
.wcmp-banner-below .wcmp-contact-deatil {
    display: block !important;
}
.wcmp-profile-area {
    padding-left: 15px;
}
#vendor-profile-img,
.wcmp-profile-imgcls {
    border-radius: 100%;
}
.wcmp_social_profile > a {
    border-radius: 100%;
    overflow: hidden;
    width: 35px;
    height: 35px;
    line-height: 35px;
}
.wcmp_social_profile a i.wcmp-font {
    font-size: 35px !important;
}
.wcmp-tablink.active {
    background-color: transparent !important;
}
.wcmp_vendor_img {
    position: absolute !important;
    top: -25px !important;
    left: 15px !important;
    padding: 0px !important;
}
.wcmp_vendor_img > img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 100% !important;
    border: 5px solid #fff !important;
}
.wcmp-tab-header {
    margin-bottom: 40px !important;
}
.featured-image > img,
.crossfade-images > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/*
 * TypeRocket
 */
 .image-picker-placeholder>.alert-danger {
    display: none !important;
}

ul.tr-gallery-list {
    padding-left: 0px;
}

.tr-gallery-list .image-picker-placeholder>a.dashicons-no-alt:before {
    position: relative;
    top: -7px;
    left: -7px;
}

.tr-gallery-list .image-picker-placeholder>a.dashicons-no-alt {
    right: -10px;
    top: 0px;
}

@media (max-width: 768px) {
    .wcmp-wrapper .navbar-default.sidebar.side-collapse {
        width: 200px !important;
    }
    .chatbutton_content_inner {
        max-width: calc(100vw - 168px);
        overflow: auto;
    }
}
